html {
    font-family: 'Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 3em;
}
p, ul, ol, li {
    font-size: 1.2rem;
}
ul li::marker {
    color: rgb(255, 0, 21);
}
a {
    text-decoration: none;
}
table, th, td {
    border: 1px solid gray;
}
th, td {
    padding: 5px;
}